{% extends 'frontend/base.html' %}

{% block title %}Создать рассылку{% endblock %}

{% block menu_mailings_active %}active{% endblock %}


{% block content %}
    <div class="album py-5 bg-body-tertiary">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="card p-5" style="width: 90vw;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                        <a href="{% url 'contacts:list_list' %}" class="btn btn-secondary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}