{% extends "frontend/base.html" %}
{% load my_tags static %}

{% block title %}Password reset{% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="justify-content-center align-items-center w-50 p-5">
                <div class="col">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Сброс пароля</h3>
                            <p>Забыли пароль? Введите почту и мы отправим вам на почту инструкции по сбросу пароля.</p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="module aligned">
                                    <div class="form-row field-email">
                                        {{ form.as_p }}
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Сбросить пароль">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}