{% extends "frontend/base.html" %}
{% load my_tags static %}

{% block title %}Password reset{% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="justify-content-center align-items-center w-50 p-5">
                <div class="col">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            {% if validlink %}

                                <p>Пожалуйста дважды введите новый пароль чтобы мы убедились что вы ввели его верно.</p>

                                <form method="post">{% csrf_token %}
                                    <fieldset class="module aligned">
                                        <input type="hidden" autocomplete="email" value="{{ form.user.get_username }}">
                                            {{ form.as_p }}
                                        <input type="submit" class="btn btn-primary"  value="Сменить пароль">
                                    </fieldset>
                                </form>

                            {% else %}
                                <p>Ссылка для сброса пароля не валидна, возможно из за того что она уже выла использована.
                                    Пожалуйста запросите новый сброс пароля.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}





