{% extends "frontend/base.html" %}
{% load my_tags %}

{% block title %}Register{% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="justify-content-center align-items-center w-50">
                <div class="col">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Регистрация</h3>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-primary btn-lg" type="submit" value="Создать"/>
                                <a href="{% url 'frontend:index' %}" class="btn btn-secondary btn-lg">Отменить</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}