<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'frontend:index' %}">Mail_project by hare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% block menu_dashboard_active %}{% endblock %}" aria-current="page"
                            href="{% url 'frontend:index' %}">Дашборд</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>Рассылки</strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mailings:list_mailing' %}">Рассылки</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logs:logs_list' %}">Логи рассылок</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>Контакты</strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'contacts:list_contact' %}">Контакты</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'contacts:list_list' %}">Списки контактов</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_blog_active %}{% endblock %}"
                            href="{% url 'blog:post_list' %}">Блог</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link"
                                href="{% url 'users:users_list' %}">Пользователи</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <strong>
                            {% if user.is_authenticated %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                Пользователь
                            {% endif %}
                        </strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>